0html==0.0.0
absl-py==0.13.0
alabaster==0.7.12
anyio==3.2.1
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
arrow==1.1.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
automat==20.2.0
babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3