<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/cb4ab84028.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="../static/loginform.css">
  <title>verification</title>
</head>
<body>
  <div class="verificationBox">

    <h1>Verify your email</h1>
    <p>Please enter the code we sent your email</p>


    <form method="POST">
    <div class="inputsVerify">
       
        <input id="value" name="value" type="value">
        <input id="value" type ="submit" class = "btn btn-block login-btn mb-4" value = "Verify"> 

      
      
        <div class="resendCode">
          <p>Didn't receive the code?<a href="{{url_for('dashboard.dashboardPage', MyAcc=current_user.email)}}">Resend</a></p>
        </div>
       
      </div>
  </form>

    

  </div>
</body>
</html>